name: Build Godot Project

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [windows, linux]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          lfs: true

      - name: Build Godot project
        id: build
        uses: manleydev/build-godot-action@v1.4.1
        with:
          name: 30-day-challenge
          preset: ${{ matrix.platform }}
          debugMode: "false"   # release build

      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: 30-day-challenge-${{ matrix.platform }}
          path: ${{ github.workspace }}/${{ steps.build.outputs.build }}
