name: Build Godot Project

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: ["Windows Desktop", "Linux/X11"]

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Build Godot project
        id: build
        uses: manleydev/build-godot-action@v1.4.1
        with:
          godot-version: 4.2.1
          godot-release: stable
          name: 30-day-challenge
          preset: ${{ matrix.platform }}
          debugMode: "false"

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: 30-day-challenge-${{ matrix.platform }}
          path: ${{ github.workspace }}/${{ steps.build.outputs.build }}
