name: Build Godot Project

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        preset: ["Windows Desktop", "Linux/X11"]

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Godot 4
        uses: chickensoft-games/setup-godot@v2
        with:
          version: 4.2.1
          use-dotnet: false
          include-templates: true

      - name: Export project
        run: |
          godot --headless --export-release "${{ matrix.preset }}" build/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: 30-day-challenge-${{ matrix.preset }}
          path: build/
